In [1]:
str1 = "Hello"
str2 = "World"
concatenated_string = str1 + " " + str2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello World

In [9]:
name = "Sherin"
age = 20
formatted_string = "Name: %s, Age: %d" % (name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Sherin, Age: 20

In [10]:
from string import Template
template = Template("Name: $name,age: $age")
formatted_string = template.substitute(name=name, age=age)
print("Formatted string:", formatted_string)

Formatted string: Name: Sherin,age: 20

In [11]:
formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Sherin, Age: 20

In [12]:
result_add = 5 + 3
print("Addition result:", result_add)

Addition result: 8

In [13]:
result_sub = 9 - 2
print("Subtraction result:", result_sub)

Subtraction result: 7

In [14]:
result_mul = 3 * 8
print("Multiplication result:", result_mul)

Multiplication result: 24

In [15]:
result_div = 10 / 5
print("Division result:", result_div)

Division result: 2.0

In [16]:
result_exp = 3 ** 5
print("Exponentiation result:", result_exp)

Exponentiation result: 243

In [17]:
result_mod = 24 % 2
print("Modulus result:", result_mod)

Modulus result: 0

In [18]:

x = 10
x -= 3
print("After subtraction assignment:", x)

After subtraction assignment: 7

In [19]:
y = 5
y *= 2
print("After multiplication assignment:", y)

After multiplication assignment: 10

In [20]:
z = 20
z /= 4
print("After division assignment:", z)

After division assignment: 5.0